<%- include("header") -%>
<h1 style="font-size: 5rem">About Me</h1>
<h2 style="text-align: left">Priyanshu Jha</h2>
<p class="textabout">
  Hi everyone, I'm Priyanshu Jha, currently pursuing engineering at Delhi
  Technological University in the field of Information Technology. I am a
  full-stack web developer with expertise in HTML, CSS, JavaScript, Node.js,
  Express.js, MongoDB, and PostgreSQL. My skills also extend to Bootstrap for
  responsive design. I have a keen interest in game development and AI/ML, and
  I'm currently learning React.js to further enhance my capabilities.
</p>
<%- include("footer") -%>
